<div class="page-header">

  <!-- LEFT -->
  <button (click)="goBack()" class="back-btn">
    <i class="ti ti-arrow-left"></i>
  </button>

  <!-- CENTER -->
  <h5 class="page-title">{{pageName|titlecase}}</h5>

  <!-- RIGHT (OPTIONAL SLOT) -->
  <div class="header-right">

    <!-- BALANCE -->
    <div *ngIf="storeData.store['wallet'] as walletData" class="balance">
      {{walletData.init_currency.symbol}}
      {{walletData.balance.new | currencyConverter | number:"1.2-2"}}
    </div>

    <!-- HISTORY -->
    <div
      *ngIf="['deposit','withdraw'].includes(pageName)"
      (click)="router.navigate(['wallet','records'])"
      class="header-link">
      <i class="ti ti-history"></i>
    </div>

    <!-- HOME -->
    <div
      *ngIf="['credit-agent','confirm-payment','agent-management'].includes(pageName)"
      (click)="router.navigate(['/'])"
      class="header-link">
      <i class="ti ti-home"></i>
    </div>

  </div>

</div>
