.betslip {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgb(1, 7, 33);
  border-top: 1px solid rgba(255,255,255,0.08);

  transform: translateY(100%);
  transition: 0.3s ease;

  z-index: 999;
}

.betslip.show {
  transform: translateY(0);
}

/* HEADER */
.betslip-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 16px;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.title {
  color: #fff;
  font-weight: 600;
}

.close-btn {
  background: none;
  border: none;
  color: #ffbe1b;
  cursor: pointer;
}

/* BODY */
.betslip-body {
  padding: 16px;
}

/* MATCH */
.match-info {
  margin-bottom: 15px;
}

.teams {
  display: flex;
  gap: 6px;
  font-size: 13px;
  color: #cbd5f5;
}

.vs {
  color: #64748b;
}

.odds {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.score {
  font-weight: bold;
  color: #fff;
}

.percent {
  background: rgba(255,190,27,0.1);
  color: #ffbe1b;
  padding: 2px 8px;
  border-radius: 6px;
}

/* INPUT */
.stake-box {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.stake-box input {
  flex: 1;
  height: 45px;

  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.1);
  background: rgba(255,255,255,0.04);

  color: #fff;
  padding: 0 12px;
}

.stake-box button {
  padding: 0 14px;
  border-radius: 10px;
  border: none;
  background: #ffbe1b;
  color: #000;
  font-weight: 600;
}

/* QUICK */
.quick-amounts {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.quick-amounts span {
  padding: 6px 10px;
  border-radius: 8px;
  background: rgba(255,255,255,0.05);
  color: #94a3b8;
  font-size: 12px;
  cursor: pointer;
}

.quick-amounts span.active {
  background: #ffbe1b;
  color: #000;
}

/* SUMMARY */
.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  color: #94a3b8;
}

.summary strong {
  color: #ffbe1b;
}

/* ACTIONS */
.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actions button {
  height: 45px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* PRIMARY */
.actions .primary {
  background: linear-gradient(135deg, #0095FF, #ffbe1b);
  color: #000;
  font-weight: bold;
}

/* SECONDARY */
.actions .secondary {
  background: rgba(255,255,255,0.05);
  color: #fff;
}
