<app-spinner></app-spinner>

<div class="app-container">

  <div class="login-card">

    <!-- Logo -->
    <div class="logo">
      <img src="/assets/images/logo.png" alt="Logo" />
    </div>

    <h1>ScoreX</h1>
    <!-- <p class="subtitle">Join us to start winning!</p> -->

    <!-- Language -->
    <div class="input-group select-lang">
      <i class="fa fa-language"></i>

      <select class="notranslate"
        (change)="quickNav.changeLanguage($event)">
        <option disabled selected>Select language</option>
        <option *ngFor="let lang of quickNav.langKeys" [value]="lang">
          {{ lang }}
        </option>
      </select>

      <span class="arrow"></span>
    </div>

    <!-- Form -->
    <form [formGroup]="authService.formView.register"
      (ngSubmit)="authService.onSubmit(authService.formView.register,'register')">

      <!-- Username -->
        <div class="input-box">
          <input type="text" formControlName="username" required />
          <label>Username</label>
          <i class="fa fa-user"></i>
        </div>

        <!-- eail -->
        <div class="input-box">
          <input type="email" formControlName="email" required />
          <label>Email</label>
          <i class="fa fa-envelope"></i>
        </div>

        <!-- refCode -->
        <div class="input-box">
          <input type="text" formControlName="RefCode"  [readonly]="authService.RefCode" />
          <label>Invite Code </label>
          <i class="fa fa-gift"></i>
        </div>


        <!-- Password -->
        <div class="input-box">
          <input
            [type]="authService.showPassword ? 'text' : 'password'"
            formControlName="password"
            required
          />
          <label>Password</label>

          <i class="fa fa-lock left"></i>

          <i class="fa toggle"
             [ngClass]="authService.showPassword ? 'fa-eye-slash' : 'fa-eye'"
             (click)="authService.togglePassword()">
          </i>
        </div>
        <div class="error" *ngIf="authService.formView.register.get('password')?.touched
          && authService.formView.register.get('password')?.errors?.['minlength']">
          Password must be at least 6 characters
        </div>

        <div class="input-box">
          <input
            [type]="authService.showPassword ? 'text' : 'password'"
            formControlName="confirm_password"
            required
          />
          <label>Confirm password</label>

          <i class="fa fa-lock left"></i>

          <i class="fa toggle"
             [ngClass]="authService.showPassword ? 'fa-eye-slash' : 'fa-eye'"
             (click)="authService.togglePassword()">
          </i>
        </div>


        <button class="login-btn"
          type="submit"
          [disabled]="authService.formView.register.invalid">
          Register
        </button>

    </form>

    <div class="links">
      <span (click)="authService.router.navigate(['/login'])">
        Login Account
      </span>

      <!-- <span (click)="authService.router.navigate(['/register'])">
        No account? <b>Register</b>
      </span> -->
    </div>

  </div>

</div>

<a href="https://t.me/scorexofficialchannel"
  target="_blank"
  class="telegram-float">
  <i class="ti ti-brand-telegram"></i>
</a>
