<div class="header">
  <!-- LEFT -->
  <div class="left">
    <div (click)="quickNav.go('notifications')" class="bell-wrapper">
      <span
        class="bell"
        [class.dance]="storeData.store?.['unreadNotification'] > 0"
      >
        🔔
      </span>

      <span class="badge">
        {{ storeData.store['unreadNotification'] > 99 ? '99+' : storeData.store['unreadNotification'] }}
      </span>
    </div>
  </div>

  <!-- CENTER (NEW) -->


  <!-- RIGHT -->
  <div class="right">
    <!-- <div class="lang">
      <img src="assets/flags/us.png" />
      <span>EN</span>
      <span class="arrow">▼</span>
    </div> -->
    <div (click)="checkIn()" class="checkin">
      <span class="icon">
        {{ storeData.store['checked_in'] ? '✅' : '📅' }}
      </span>
      <span>
        {{ storeData.store['checked_in'] ? 'Checked-in' : 'Check-in' }}
      </span>
    </div>

    <div (click)="quickNav.openTab('https://t.me/customercareservicex')" class="support">🎧</div>
  </div>
</div>
