<app-spinner></app-spinner>
<app-header></app-header>

<div *ngIf="storeData?.store?.['bindedTg'] !== undefined; else showTelegramModal">
    <app-bind-account></app-bind-account>
</div>

<ng-template #showTelegramModal>
    <app-join-channel> </app-join-channel>
  </ng-template>

<!-- <app-quick-notifications *ngIf="storeData.get('notification')"></app-quick-notifications> -->
<!-- <app-quick-notifications *ngIf="storeData.get('notification')&&pageName!=='notifications'"></app-quick-notifications> -->

<div class="page page-wrapper ">

  <!-- Slider -->
  <section class="app-container">
    <app-slider></app-slider>
  </section>

  <section class="app-container">
    <app-wallet-card></app-wallet-card>
  </section>



 <!-- Matches -->
  <section class="matches app-container">
  <!-- <app-upcomming></app-upcomming> -->
    <app-matches></app-matches>
  </section>

    <a
    href="https://t.me/official_scorex"
    target="_blank"
    class="telegram-float"
    aria-label="Chat with us on Telegram"
  >
    <i class="ti ti-brand-telegram"></i>
    <!-- <span>Join</span> -->

  </a>


<app-menu-bottom></app-menu-bottom>

  <!-- Bottom Nav -->



</div>
