/* BALANCE */
.balance-data {
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: #ffbe1b;
}

/* QUICK NAV */
.qnav {
  display: flex;
  margin: 12px 0;
}

.qnav span {
  font-size: 0.95rem;
  color: #94a3b8;
}

.qnav .item {
  flex: 1;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  cursor: pointer;
}

/* ICON BOX */
.qnav .icon {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 14px;

  /* background: linear-gradient(
    145deg,
    rgba(1,7,33,0.9),
    rgba(1,7,33,0.6)
  ); */

  border: 1px solid rgba(255,255,255,0.05);

  /* box-shadow:
    inset 0 1px 2px rgba(255,255,255,.05),
    0 6px 14px rgba(0,0,0,.5); */

  transition: 0.25s;
}

/* HOVER */
.qnav .item:hover .icon {
  transform: translateY(-2px);
  border-color: rgba(0,149,255,0.4);
}

/* ICON */
.q-icon {
  font-size: 20px;

  background: linear-gradient(135deg, #0095FF, #ffbe1b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  filter: drop-shadow(0 2px 6px rgba(0,0,0,.6));
}

/* NOTICE BAR CLEAN */
.u-notice-bar {
  padding: 10px 14px;
  border-radius: 10px;

  background: linear-gradient(
    135deg,
    rgba(0,149,255,0.12),
    rgba(1,7,33,0.9)
  );

  border: 1px solid rgba(0,149,255,0.25);

  overflow: hidden;
}

/* TEXT */
.u-notice-text {
  font-size: 14px;
  color: #e2e8f0;
  white-space: nowrap;
}

/* SCROLL ANIMATION */
.u-notice-content {
  animation: scrollNotice 15s linear infinite;
}

@keyframes scrollNotice {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

/* FLOAT BUTTON */
.telegram-float {
  position: fixed;
  bottom: 90px;
  right: 20px;

  width: 48px;
  height: 48px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(135deg,#0095FF,#ffbe1b);
  color: #000;

  font-size: 22px;

  box-shadow: 0 6px 20px rgba(0,149,255,0.3);

  transition: 0.25s;
}

/* HOVER */
.telegram-float:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 25px rgba(0,149,255,0.5);
}

/* ICON */
.telegram-float i {
  color: #000;
}
