<app-spinner></app-spinner>

<div class="app-container">

  <div class="login-card">

    <!-- Logo -->
    <div class="logo">
      <img src="/assets/images/logo.png" alt="Logo" />
    </div>

    <h1>ScoreX</h1>
    <p class="subtitle">Reset Password</p>

    <!-- Form -->
    <form [formGroup]="authService.formView.reset"
      (ngSubmit)="authService.onSubmit(authService.formView.reset,'forgot-password')">

      <!-- Username -->
        <div class="input-box">
          <input type="email" formControlName="email" required />
          <label>Email</label>
          <i class="fa fa-envelope"></i>
        </div>



      <button class="login-btn"
        type="submit"
        [disabled]="authService.formView.reset.invalid">
        Reset
      </button>

    </form>

    <div class="links">
      <span (click)="authService.router.navigate(['/login'])">
        Login
      </span>

    </div>

  </div>

</div>

<a href="https://t.me/smgchannelofficial"
  target="_blank"
  class="telegram-float">
  <i class="ti ti-brand-telegram"></i>
</a>
