<!-- <div class="custom-toast" [ngClass]="data.status">
  <mat-icon class="icon">{{ data.status === 'success' ? 'check_circle' : 'error' }}</mat-icon>
  <span class="message">{{ data.message }}</span>

  <button mat-icon-button class="close-btn" (click)="closeToast()" >
    <mat-icon>close</mat-icon>
  </button>
</div> -->

<div class="toast-wrapper">
  <div class="toast-icon">
    <i
      class="ti"
      [ngClass]="{
        'ti-circle-check': data.status === 'success',
        'ti-alert-circle': data.status === 'error',
        'ti-info-circle': data.status === 'info'
      }"
    ></i>
  </div>

  <div class="toast-message">
    <!-- {{ data.message }} -->
    <div class="toast-message" [innerHTML]="data.message.replaceAll('/n','<br>')"></div>
  </div>

  <button class="toast-close" (click)="snackBarRef.dismiss()">
    <i class="ti ti-x"></i>
  </button>
</div>
