<app-header2></app-header2>
<app-spinner></app-spinner>

<div *ngIf="quickNav.storeData?.store?.['bindedTg'] !== undefined">
    <app-bind-account></app-bind-account>
</div>

<section class="page-wrapper">

  <section class="app-container">

    <div class="account-page">

    <!-- PROFILE -->
    <div class="profile-card mt-7">

      <div class="profile-top">

        <div class="avatar">
          <img src="https://cyber.comolho.com/static/img/avatar.png" />
        </div>

        <div class="profile-info">
          <h3>{{quickNav.storeData.store['username']}}</h3>
          <span class="vip">VIP{{quickNav.storeData.store['wallet']?.vip || 0}}</span>

          <div class="user-id">
            ID: {{quickNav.storeData.store['profile']?.id}}
            <i (click)="quickNav.copy(quickNav.storeData.store['profile']?.id,'ID copied')" class="ti ti-copy"></i>
          </div>
        </div>

      </div>

      <!-- LANGUAGE -->
      <div class="language-select">
        <select (change)="quickNav.changeLanguage($event)">
          <option disabled selected>Language</option>
          <option *ngFor="let lang of quickNav.langKeys" [value]="lang">
            {{ lang }}
          </option>
        </select>
      </div>

    </div>

    <app-account-summary></app-account-summary>

    <!-- QUICK ACTIONS -->
    <div class="actions-grid">

      <!-- <div (click)="quickNav.go('lucky-wheel')" class="action-item">
        <div class="icon-wrap">
          <i class="ti ti-ticket"></i>
          <span class="badge">{{quickNav.storeData.store["available_wheel"]}}</span>
        </div>
        <span>Lucky Wheel</span>
      </div> -->

      <div (click)="quickNav.openTab('https://t.me/scorexcustomercare')" class="action-item">
        <i class="ti ti-headset"></i>
        <span>Support</span>
      </div>

      <div (click)="quickNav.openTab('https://t.me/official_scorex')" class="action-item">
        <i class="ti ti-brand-telegram"></i>
        <span>Telegram</span>
      </div>

      <div (click)="openModal()" class="action-item">
        <i class="ti ti-shield-lock"></i>
        <span>Security</span>
      </div>

    </div>

    <!-- MENU -->
    <div class="menu-list">

      <div (click)="quickNav.go('about-us')" class="menu-item">
        <div class="menu-left">
          <i class="fa fa-info"></i>
          <span>About us</span>
        </div>
        <i class="ti ti-chevron-right"></i>
      </div>

      <div (click)="quickNav.go('wallet',{page:'transactions'})" class="menu-item">
        <div class="menu-left">
          <i class="ti ti-history"></i>
          <span>Transaction History</span>
        </div>
        <i class="ti ti-chevron-right"></i>
      </div>

      <div (click)="quickNav.go('notifications')" class="menu-item">
        <div class="menu-left">

          <div class="icon-wrap">
            <i class="ti ti-message"></i>
            <span class="badge" *ngIf="notificationCount > 0">
              {{quickNav.storeData.store['notification']?.unseen?.length || 0}}
            </span>
          </div>

          <span>Notifications</span>

        </div>
        <i class="ti ti-chevron-right"></i>
      </div>

      <div (click)="appManager.installApp()" class="menu-item">
        <div class="menu-left">
          <i class="ti ti-download"></i>
          <span>Get App</span>
        </div>
        <i class="ti ti-chevron-right"></i>
      </div>

    </div>

    <!-- LOGOUT -->
    <button (click)="quickNav.authService.logout(false)" class="logout-btn">
      Logout
    </button>

    <!-- LOGOUT -->
    <!-- <button (click)="telegramService.connect()" class="logout-btn">
      Bind Telegram Account
    </button> -->

  </div>
 </section>
 </section>




<app-menu-bottom></app-menu-bottom>


<!-- chamge Password modal -->

<div class="modal fade crypto-modal" id="changePassword" tabindex="-1">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">🔐 Reset Password</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="crypto-input">
            <input
              class="form__input"
              type="text"
              placeholder="Old password"
              formControlName="old-password"
            >
          </div>

          <div class="crypto-input">
            <input
              class="form__input"
              type="text"
              placeholder="New password"
              formControlName="new-password"
            >
          </div>

          <button
            class="apool__btn"
            [disabled]="!form.valid"
            type="submit"
          >
            Update Password
          </button>

        </form>

      </div>

    </div>
  </div>

</div>
