<div mat-dialog-content class="dialog-content">
  <div class="status-icon" [ngClass]="data.status">
    <mat-icon>
      {{ data.status === 'success' ? 'check' : 'close' }}
    </mat-icon>
  </div>

  <h2 class="dialog-title">{{ data.title }}</h2>
  <p class="dialog-message" [innerHTML]="data.message"></p>
</div>


<div *ngIf="data.reload"  (click)="reloadPage()" mat-dialog-actions class="dialog-actions">
  <button mat-button mat-dialog-close class="btn-primary">
    Reload
  </button>
</div>

<div *ngIf="!data.reload"   mat-dialog-actions class="dialog-actions">
  <button mat-button mat-dialog-close class="btn-primary">
    OK
  </button>
</div>
